@import "../../../variables";

.review {
  .paper {
    $height: calc(100vh - 128px - 47.2px - (12 * #{$spacing-unit}) - 40px);
    position: relative;
    height: $height;
    max-height: $height;
  }
}