@import '../../variables';

.login {
  width: $small-page-width;
  min-width: $small-page-min-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: {
    top: 23px;
    bottom: 23px;
  }

  input {
    display: block;
  }

  div[class*="MuiFormControl"] {
    display: block;
    width: 280px;

    & > div[class*="MuiInputBase"] {
      width: 100%;
    }
  }

  .header {
    img {
      width: 250px;
      height: auto;
      padding-bottom: 25px;
    }

    text-align: center;
  }

  .action-buttons {
    margin-top: 2 * $spacing-unit;

    button[class*="Primary"] {
      width: 105.11px !important;
    }

    & > button + button {
      margin-left: 10px;
    }
  }

  .socials-login-buttons {
    display: grid;

    button {
      margin-top: 2 * $spacing-unit;
      padding-left: 40px;

      .icon {
        position: absolute;
        left: 20px;
        padding-left: 20px;

        &.google {
          padding-left: 40px;
        }
      }

      &.facebook {
        border: 1px solid #3b5998;

        .icon {
          color: #3b5998;
        }
      }

      &.twitter {
        border: 1px solid #00aced;

        .icon {
          color: #00aced;
        }
      }

      &.github {
        border: 1px solid #4078c0;

        .icon {
          color: #4078c0;
        }
      }

      &.google {
        border: 1px solid #dd4b39;

        .icon {
          padding-left: 23px;
          color: #dd4b39;
        }
      }
    }
  }
}

@media (max-width: $media-query-1) {
  .login {
    margin: 2 * $spacing-unit auto;
  }
}

@media (max-width: $media-query-3) {
  .login {
    margin: 2 * $spacing-unit $spacing-unit;
    width: $small-page-media-query-2-width;
  }
}