@import '../../variables';

.login .action-buttons {
  margin-top: 2 * $spacing-unit;

  button[class*="Primary"] {
    width: 105.11px !important;
  }

  button + button {
    margin-left: 10px;
    }
}