@import '../../variables';

.register {
    div[class*="MuiTypography"] {
        max-width: 225px;
        display: inline-block;
        margin-bottom: $spacing-unit;
    }

    span[class*="MuiCheckbox-"] {
        display: inline-block;
        margin-top: -20px;
        margin-left: 10px;
    }

    .action-buttons {
        text-align: center;
        margin-top: 2 * $spacing-unit;

        button[class*="Primary"] {
            width: 128.1px !important;
        }
    }
}