// ThemePicker - MuiThemeProvider palletes (primary colors)
$themepicker-scirec-theme-color: #0097a7;
$themepicker-scirec-theme-inverted-color: #669966;
$themepicker-custom-theme-1-color: #006064;
$themepicker-custom-theme-1-inverted-color: #ff5252;
$themepicker-custom-theme-2-color: #01579b;
$themepicker-custom-theme-2-inverted-color: #827717;
$themepicker-custom-theme-3-color: #d32f2f;
$themepicker-custom-theme-3-inverted-color: #039be5;
$themepicker-custom-theme-4-color: #f06292;
$themepicker-custom-theme-4-inverted-color: #00796b;
$themepicker-custom-theme-5-color: #536dfe;
$themepicker-custom-theme-5-inverted-color: #33691e;
$themepicker-custom-theme-6-color: #26a69a;
$themepicker-custom-theme-6-inverted-color: #00897b;

//
//  relative measurements
//

// general
$spacing-unit: 8px;

// media queries
$media-query-1: 599px;
$media-query-2: 399px;

// small page
$small-page-width: 400px;
$small-page-min-width: 367.2px;
$small-page-media-query-2-width: inherit;

// regular page
$page-width: 75%;