/*
    general
*/
$spacing-unit: 8px;
$media-query-1: 599px;
$media-query-2: 399px;
/*
    measurements
*/
// misc
$login-width: 400px;
$login-min-width: 367.2px;
$login-media-query-2-width: inherit;
$register-width: $login-width;
$register-min-width: $login-min-width;
$register-media-query-2-width: $login-media-query-2-width;
$sidebar-width: 250px;
$container-loader-width: 100%;
// Dashboard
$dashboard-width: 75%;
$dashboard-media-query-1-width: inherit;
// NewProject
$new-project-width: $login-width;
$new-project-height: 311px;