//
// colors
//

//general
$light-gray-color-text-color: rgba(0, 0, 0, 0.6);
$updating-opacity: 0.5;

//
//  relative measurements
//

// general
$spacing-unit: 8px;

// media queries
$media-query-1: 599px;
$media-query-2: 501px;
$media-query-3: 399px;

// small page
$small-page-width: 400px;
$small-page-min-width: 367.2px;
$small-page-media-query-2-width: inherit;

// regular page
$page-width: 75%;
$page-title-height: 47.2px;
$page-subtitle-height: 48px;
$page-subsubtitle-height: 40px;
$page-media-query-1-width: inherit;

// project
$project-margin-height: 64px;

// project version
$project-version-paper-padding-height: 48px;