@import '../../../variables';

.overview {
  .paper {
    $paper-padding-height: 32px;
    $bulharsko: 80px;
    $height: calc(100vh - #{$bulharsko} - #{$page-subtitle-height} - #{$page-title-height} - #{$paper-padding-height} - #{$project-margin-height});
    min-height: 451.2px;
    height: $height;
    max-height: $height;
    position: relative;
    margin: 0 2 * $spacing-unit 0 0;
      background-color: darken(white, 1%);

    .full-width {
      width: 100%;
    }
  }
}

@media (max-width: $media-query-1) {
  .overview .paper {
    margin: $spacing-unit $spacing-unit 2 * $spacing-unit $spacing-unit;
  }
}