@import '../../../variables';

.dashboard-settings {
    margin: 4 * $spacing-unit auto;
    width: $page-width;

    .page-title {
        margin: {
            left: 2 * $spacing-unit;
            bottom: 2 * $spacing-unit;
        }

        .dashboard-title {
            font-weight: 500;
        }
    }
    
    .title-description {
        padding-top: $spacing-unit;
        opacity: 0.65;
        font-size: 12.3px;
        text-align: right;
    }
}

@media (max-width: $media-query-1) {
    .dashboard-settings {
        margin: 2 * $spacing-unit auto;
    }
}

@media (max-width: $media-query-2) {
    .dashboard-settings {
        margin: 2 * $spacing-unit $spacing-unit;
        width: $small-page-media-query-2-width;
    }
}