@import '../../../variables';

.expansion-panel {
    .summary {
        div[class*="expanded"] > p {
            font-weight: 500;
        }
    }

    .details {
        padding-bottom: $spacing-unit;

        & > div:first-child {
            width: 100%;

            div[class*="FormControl"] {
                width: 100%;
                padding-top: $spacing-unit;
            }
        }
    }
    
    .actions {
        padding-top: $spacing-unit;

        button {
            margin-right: $spacing-unit;
        }
    }
}