@import "../../../variables";

.default-dashboard-selector {
    max-width: $selector-width !important;
    float: right;
    display: flex;
    max-width: $selector-width !important;
    
    & > div[class*="InputBase"] {
        div[class*="Select-select"] {
            height: 32px;
            line-height: 32px;
            text-indent: 2 * $spacing-unit;
        }
    }
}