@import '../../variables';

.dashboard {
    margin: 4 * $spacing-unit auto;
    padding: 2 * $spacing-unit;
    width: 75%;
}

.title {
    margin-left: 20px !important;
}

@media (max-width: $media-query-1) {
    .dashboard {
        margin: 2 * $spacing-unit $spacing-unit;
        width: inherit;
    }
}