@import '../../variables';

div[class*="Toolbar"]:nth-child(2) {
    margin: 0 auto;
}

.selector {
    div[class*="InputBase"] {
        min-width: 220px;
        text-align: center;
        color: white;

        div[class*="Select-select"] {
            height: 32px;
            line-height: 32px;
        }

        svg[class*="SvgIcon"] {
            color: white !important;
            margin-right: 10px;
        }
    }
}