@import "../../variables";

.project-version-review {
  &:not(.latest) .paper {
    $height: calc(100vh - 128px - 47.2px - (6 * #{$spacing-unit}));
    min-height: calc(459.2px);
    height: $height;
    max-height: $height;
  }

  &.latest .paper {
    $height: calc(100vh - 128px - 47.2px - (6 * #{$spacing-unit}) - 40px);
    min-height: calc(459.2px);
    height: $height;
    max-height: $height;
  }

  .paper {
    position: relative;
    padding: 0;
    overflow-y: scroll;

    .expansion-panel {
      border-bottom: 1px solid lighten($light-gray-color-text-color, 70%);
      box-shadow: none;
      margin: 0;

      .details > div:first-child div[class*="FormControl"] {
        padding-top: 0;
      }

      &:before {
        opacity: 0;
      }
      
      .edit-mode-action-buttons {
        position: relative;
        bottom: inherit;
        right: inherit;
      }

      .file-viewer {
        padding-top: $spacing-unit;
      }
    }
  }
}

@media (max-width: $media-query-1) {
  .project-version-review {
    padding-left: 0 !important;
    margin: 2 * $spacing-unit 0 !important;
    padding-right: $spacing-unit;
  }
}