@import "../../variables";

.project-version-review {
  $bulharsko: 16px;
  $height: calc(100vh - #{$bulharsko} - #{$page-title-height} - #{$page-subtitle-height} - #{$project-version-paper-padding-height} - #{$project-margin-height});
  $latest-height: calc(#{$height} - #{$page-subsubtitle-height});

  &:not(.latest) .paper {
    min-height: calc(459.2px);
    height: $height;
    max-height: $height;
  }

  &.latest .paper {
    min-height: calc(459.2px);
    height: $latest-height;
    max-height: $latest-height;
  }

  .paper {
    position: relative;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .expansion-panel {
      border-bottom: 1px solid lighten($light-gray-color-text-color, 70%);
      box-shadow: none;
      margin: 0;

      .details > div:first-child div[class*="FormControl"] {
        padding-top: 0;
      }

      &:before {
        opacity: 0;
      }
      
      .edit-mode-action-buttons {
        position: relative;
        bottom: inherit;
        right: inherit;
      }
    }

    &.empty {
      background-color: transparent;
      box-shadow: none;
      overflow: hidden;
      display: flex;
      align-items: center;

      div {
        width: 100%;
      }

      .no-data {
        padding: 0;
      }
    }
  }
}

@media (max-width: $media-query-1) {
  .project-version-review {
    padding-left: 0 !important;
    margin: 2 * $spacing-unit 0 !important;
    padding-right: $spacing-unit;
  }
}