@import "../../../variables";

.file-viewer {
  $bulharsko: 200.4px;
  $contents: 188.4px;
  $height: calc(100vh - #{$bulharsko} - #{$page-title-height} - #{$page-subtitle-height} - #{$project-version-paper-padding-height} - #{$project-margin-height} - #{$contents});
  $latest-height: calc(#{$height} - #{$page-subsubtitle-height});
  $latest-height-paddingless: calc(#{$latest-height} + #{$project-version-paper-padding-height});

  .list {
    top: $spacing-unit;
    height: $height;
    max-height: $height;
    overflow: hidden;
    border-bottom: 1px dotted $light-gray-color-text-color;

    &:not(.latest) {
      min-height: calc(#{$height} + 60px);
    }

    &:not(.empty) {
      overflow-y: scroll;
    }
  }

  .small-title {
    font-size: 12px;
    color: lighten($light-gray-color-text-color, 20%);
  }

  .action {
    right: 16px;
  }

  .list-item-text {
    text-align: left;
    padding-right: 50px;

    & > span {
      word-wrap: break-word;
    }

    &.no-data {
      padding-left: 50px;
      text-align: center !important;
    }
  }

  .add-files-button {
    top: -12px;
  }
}