@import '../../variables';

.project {
  height: 100%;
  padding: 4 * $spacing-unit;

  .paper {
    $height: calc(100vh - 128px - 47.2px - (12 * #{$spacing-unit}));
    margin: 0 2 * $spacing-unit 0 2 * $spacing-unit;
    padding: 3 * $spacing-unit;
    height: $height;
    max-height: $height;
  }
}


@media (max-width: $media-query-1) {
  .project {
    height: calc(100vh - 32px);
    padding: 2 * $spacing-unit $spacing-unit $spacing-unit $spacing-unit;

    .paper {
      margin: $spacing-unit $spacing-unit 2 * $spacing-unit $spacing-unit;
    }
  }
}