@import '../../variables';

.project {
  height: 100%;
  padding: 4 * $spacing-unit;

  .paper {
    position: relative;
    padding: 3 * $spacing-unit;
  }

  div[class*="FormControl"] {
    margin-bottom: 2 * $spacing-unit;
  }

  div[class*="InputBase"] {
    color: rgb(84, 84, 84) !important;
  }
}

@media (max-width: $media-query-1) {
  .project {
    height: calc(100vh - 32px);
    padding: 2 * $spacing-unit $spacing-unit $spacing-unit $spacing-unit;
  }
}