@import '../../variables';

.project {
  height: 100%;
  padding: 4 * $spacing-unit;

  .paper {
    position: relative;
    padding: 3 * $spacing-unit;
  }
}

@media (max-width: $media-query-1) {
  .project {
    height: calc(100vh - 32px);
    padding: 2 * $spacing-unit $spacing-unit $spacing-unit $spacing-unit;
  }
}