@import '../../variables';

.overview {
  .editables, .readables {
    .input {
      margin-bottom: 3 * $spacing-unit;
    }
  }

  .editables {
    opacity: 0.7 !important;
  }

  .action-buttons {
    position: absolute;
    bottom: 2 * $spacing-unit;
    right: 2 * $spacing-unit;
  }
}