@import '../../variables';

.project-version {
  &:not(.latest) {
    margin: 4 * $spacing-unit 3 * $spacing-unit;
  }

  .project-version-detail {
    padding-right: $spacing-unit;
  }

  .project-version-review {
    padding-left: $spacing-unit;
  }

  div[class*="FormControl"]:not(:first-child) {
    margin-top: $spacing-unit;
  }

  div[class*="MuiInputBase-disabled"] {
    color: #545454;
  }

  &:not(.latest) .file-viewer {
    padding-top: $spacing-unit;
  }
}

@media (max-width: $media-query-1) {
  .project-version:not(.latest) {
    margin: 2 * $spacing-unit $spacing-unit $spacing-unit $spacing-unit;
  }

  .paper {
    margin-left: $spacing-unit;
  }
}