@import '../../variables';

.project-version {
  .project-version-detail {
    padding-right: $spacing-unit;
  }

  .project-version-reviews {
    padding-left: $spacing-unit;
  }
}

@media (max-width: $media-query-1) {
  .paper {
    margin-left: $spacing-unit;
  }

  .project-version-reviews {
    padding-left: 0 !important;
    margin: 2 * $spacing-unit 0 !important;
    padding-right: $spacing-unit;
  }
}