@import '../../variables';

div[class*="LinearProgress"] {
    position: absolute;
    width: $container-loader-width;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

div[class*="container"] {
    &.double-toolbar-margin {
        margin-top: 128px;
    }

    &.toolbar-margin {
        margin-top: 64px;
    }
}

@media (max-width: $media-query-1) {
    div[class*="container"] {
        &.double-toolbar-margin {
            margin-top: 112px;
        }

        &.toolbar-margin {
            margin-top: 56px;
        }
    }
}