@import '../../variables';

.list {
  padding: 0 !important;

  .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .state {
    padding-right: 7 * $spacing-unit !important;
    min-width: 100px;
    text-align: center;
  }
}

@media (max-width: 522px) {
  .state {
    display: none;
  }
}