@import '../../variables';

.paper-actions {
  &:not(.relative) {
    .edit, .save-and-cancel {
      position: absolute;
      padding: 3 * $spacing-unit;
    }
  }

  &:not(.relative) .delete {
    padding: 3 * $spacing-unit;
  }

  .delete, .edit, .save-and-cancel {
    bottom: 0;
  }

  .delete {
    position: absolute;
    padding: 2 * $spacing-unit;
    left: 0;
  }

  .save-and-cancel, .edit {
    right: 0;
  }
}