@import '../../../variables';

.brand {
    flex-grow: 1;
}

.user-toolbar svg[class*="SvgIcon"] {
    color: white !important;
}

hr[class*="Divider"] {
    margin: {
        top: $spacing-unit !important;
        bottom: $spacing-unit !important;
    }
}