.brand {
    flex-grow: 1;
}

.link {
    display: initial;
    text-decoration: none;
    color: inherit;
}

.active-link {
    text-decoration: underline;
}

div[class*="MuiAvatar-"] {
    background-color: inherit;
}