@import '../../../variables';

.brand {
    flex-grow: 1;
}

.user-toolbar svg[class*="SvgIcon"] {
    color: white !important;
}

button[class*="Button-outlined"] {
    border: 1px solid rgba(255, 255, 255, 0.75) !important;
}

hr[class*="Divider"] {
    margin: {
        top: $spacing-unit !important;
        bottom: $spacing-unit !important;
    }
}