@import '../../../variables';

.file-uploader {
  position: relative;

  .select-file-button {
    margin-top: $spacing-unit !important;
    margin-left: 5 * $spacing-unit !important;
    margin-bottom: 0 !important;
  }

  .files {
    margin-left: 0 !important;
  }

  .file-counter {
    position: absolute;
    right: 3 * $spacing-unit;
    top: 35px;
  }

  .files-size-sum {
    text-align: right;
    margin-right: $spacing-unit;
    margin-top: $spacing-unit;
    color: $light-gray-color-text-color;
  }

  .many-files-message {
    color: red;
  }

  .select-files-button {
    margin-bottom: $spacing-unit;
    margin-left: -(4 * $spacing-unit);
  }

  .files {
    margin-left: -(4 * $spacing-unit);
    padding: $spacing-unit;
    border-top: 1px dashed rgba($light-gray-color-text-color, 0.1);
    background-color: rgba($light-gray-color-text-color, 0.02);

    .file {
      span[class*="MuiTypography-subtitle1"] {
        border-bottom: 1px dashed $light-gray-color-text-color;
        opacity: 0.7;
      }
    }
  }
}