@import "../../../variables";

.file-viewer {
  .small-title {
    font-size: 12px;
    color: lighten($light-gray-color-text-color, 20%);
  }

  .list-item-text {
    text-align: center;
    padding-right: 0;
  }

  .add-files-button {
    top: -12px;
  }
}