@import "../../../variables";

.latest-project-version {
  &.empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .no-data {
    padding: 2 * $spacing-unit;
  }

  .page-title {
    position: relative;

    .project-versions-list-icon {
      position: absolute;
      display: inline-block;
      top: -7px;
      right: 0;
    }
  }
}

@media (min-width: $media-query-1) {
  .latest-project-version .page-title {
    margin-left: 0 !important;
  }
}