@import '../../variables';

.dashboard {
    margin: 2 * $spacing-unit auto;
    padding: 2 * $spacing-unit;
    width: 75%;
}

.fab {
    position: absolute !important;
    bottom: 8 * $spacing-unit;
    right: 8 * $spacing-unit;
}

@media (max-width: 599px) {
    .dashboard {
        width: inherit;
    }
}