.main {
    width: auto;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.paper {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.avatar {
    margin: 0;
    background-color: black;
}

.form {
    width: 100%;
    margin-top: 0;
}

.submit {
    margin-top: 0;
}

.logo {
    width: 60%;
    height: auto;
    padding-bottom: 13px;
}