@import '../../variables';

.login {
    width: $login-width;
    min-width: $login-min-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
    }
    padding: {
        top: 23px;
        bottom: 23px;
    }

    input {
        display: block;
    }

    div[class*="MuiFormControl"] {
        display: block;
        width: 280px;

        & > div[class*="MuiInputBase"] {
            width: 100%;
        }
    }

    .header {
        img {
            width: 250px;
            height: auto;
            padding-bottom: 25px;
        }

        text-align: center;
    }

    .action-buttons {
        margin-top: 2 * $spacing-unit;

        button[class*="Primary"] {
            width: 105.11px !important;
        }

        button + button {
            margin-left: 10px;
        }
    }
}

@media (max-width: $media-query-1) {
    .login {
        margin: 2 * $spacing-unit auto;
    }
}

@media (max-width: $media-query-2) {
    .login {
        margin: 2 * $spacing-unit $spacing-unit;
        width: $login-media-query-2-width;
    }
}