main {
    margin: {
        left: 35%;
        right: 35%;
    }
}

.register {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
    }
    padding: {
        top: 5%;
        bottom: 5%;
    }

    input {
        display: block;
    }

    div[class*="MuiFormControl-"] {
        display: block;
        width: 280px;

        & > div[class*="MuiInputBase-"] {
            width: 100%;
        }
    }

    .header {
        img {
            width: 250px;
            height: auto;
            padding-bottom: 25px;
        }

        text-align: center;
    }

    div[class*="MuiTypography-"] {
        max-width: 225px;
        display: inline-block;
        margin-bottom: 8px;
    }

    span[class*="MuiCheckbox-"] {
        display: inline-block;
        margin-top: -20px;
        margin-left: 10px;
    }

    .action-buttons {
        text-align: center;
    }
}