@import '../../../variables';

.projects-list {
    .page-title {
        margin: {
            left: 2 * $spacing-unit;
            bottom: 2 * $spacing-unit;
        }
    }

    .project {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}