@import '../../variables';

.scirec-theme {
  color: #0097a7 !important;

    &.inverted {
      color: #669966 !important;
    }
}

.custom-theme-1 {
  color: #006064 !important;
    
    &.inverted {
      color: #ff5252 !important;
    }
}

.custom-theme-2 {
  color: #01579b !important;
    
    &.inverted {
      color: #827717 !important;
    }
}

.custom-theme-3 {
  color: #d32f2f !important;
    
    &.inverted {
      color: #039be5 !important;
    }
}

.custom-theme-4 {
  color: #f06292 !important;
    
    &.inverted {
      color: #00796b !important;
    }
}

.custom-theme-5 {
  color: #536dfe !important;
    
    &.inverted {
      color: #33691e !important;
    }
}

.custom-theme-6 {
  color: #26a69a !important;
    
    &.inverted {
      color: #00897b !important;
    }
}