@import '../../variables';

.scirec-theme {
    color: $themepicker-scirec-theme-color !important;

    &.inverted {
        color: $themepicker-scirec-theme-inverted-color !important;
    }
}

.custom-theme-1 {
    color: $themepicker-custom-theme-1-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-1-inverted-color !important;
    }
}

.custom-theme-2 {
    color: $themepicker-custom-theme-2-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-2-inverted-color !important;
    }
}

.custom-theme-3 {
    color: $themepicker-custom-theme-3-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-3-inverted-color !important;
    }
}

.custom-theme-4 {
    color: $themepicker-custom-theme-4-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-4-inverted-color !important;
    }
}

.custom-theme-5 {
    color: $themepicker-custom-theme-5-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-5-inverted-color !important;
    }
}

.custom-theme-6 {
    color: $themepicker-custom-theme-6-color !important;
    
    &.inverted {
        color: $themepicker-custom-theme-5-inverted-color !important;
    }
}