@import '../../variables';

.scirec-theme {
    color: #0097a7 !important;
}

.scirec-custom-theme-1 {
    color: #3F51B5 !important;
}

.scirec-custom-theme-2 {
    color: #D32F2F !important;
}

.scirec-custom-theme-3 {
    color: #455A64 !important;
}

.scirec-custom-theme-4 {
    color: #FF5722 !important;
}

.scirec-custom-theme-5 {
    color: #E91E63 !important;
}

.scirec-custom-theme-6 {
    color: #009688 !important;
}