@import '../../../variables';

div[class*="Toolbar"]:nth-child(2) {
    margin: 0 auto;
}

.category-handler {
    div[class*="InputBase"] {
        min-width: 220px;
        text-align: center;
        color: white;

        div[class*="Select-select"] {
            padding: 13px;
        }

        svg[class*="SvgIcon"] {
            color: white !important;
        }
    }
}