@import '../variables';

.home {
    margin: 4 * $spacing-unit auto;
    width: $page-width;

    .media {
        width: 100%;
        padding: 10px;
        height: 10vh;
        opacity: 0.3;
    }
}

@media (max-width: $media-query-1) {
    .home {
        margin: 2 * $spacing-unit $spacing-unit;
        width: inherit;
    }
}