@import '../variables';

.home {
    width: 100vw;
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow: hidden;

    .card {
        display: none;

        .card-media {
            width: 100%;
            padding: 10px;
            height: 10vh;
            opacity: 0.3;
        }
    }

    .view-text {
        position: absolute;
        bottom: 0;
        left: 10vh;
        width: auto;
        padding: 0 3 * $spacing-unit;
        text-align: center;
        height: 10vh;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #669966;

        .headline {
            font-size: 2rem;
            position: relative;
            font-weight: 500;
            color: #fff;
            line-height: 60px;
        }
    }

    .media {
        text-align: center;
        overflow: hidden;

        img {
            margin-top: -20px;
            max-width: 1600px;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 960px) {
    .home .media img {
        margin-top: 0;
        margin-left: -100px;
        width: 120%;
    }
}

@media (max-width: 840px) {
    .home .media img {
        margin-top: 20px;
    }
}


@media (max-width: 737px) {
    .home {
        margin: 2 * $spacing-unit $spacing-unit;
        width: inherit;


        .view-text, .media {
            display: none;

            & img {
                margin-left: -90px;
                width: 120%;
            }
        }

        .card {
            display: inherit
        }
    }
}