@import "../../../variables";

.project-version-detail {
  &:not(.latest) .paper {
    $height: calc(100vh - 128px - 47.2px - (12 * #{$spacing-unit}));
    min-height: calc(451.2px);
    height: $height;
    max-height: $height;
    padding: 3 * $spacing-unit;

    &.paddingless {
      min-height: calc(451.2px + 48px);
    }
  }

  &.latest .paper {
    $height: calc(100vh - 128px - 47.2px - (12 * #{$spacing-unit}) - 40px);
    min-height: calc(451.2px - 40px);
    height: $height;
    max-height: $height;

    &.paddingless {
      min-height: calc(451.2px + #{$spacing-unit});
    }
  }

  .paper {
    position: relative;
  }
}