@import "../../../variables";

.project-version-detail {
  $bulharsko: 64px;
  $height: calc(100vh - #{$bulharsko} - #{$page-title-height} - #{$page-subtitle-height} - #{$project-version-paper-padding-height} - #{$project-margin-height});
  $latest-height: calc(#{$height} - #{$page-subsubtitle-height});
  $latest-height-paddingless: calc(#{$latest-height} + #{$project-version-paper-padding-height});

  &:not(.latest) .paper {
    min-height: calc(451.2px);
    height: $height;
    max-height: $height;
    padding: 3 * $spacing-unit;

    &.paddingless {
      min-height: calc(451.2px + 48px);
    }
  }

  &.latest .paper {
    min-height: calc(451.2px - 40px);
    height: $latest-height;
    max-height: $latest-height;

    &.paddingless {
      min-height: calc(451.2px + #{$spacing-unit});
      height: $latest-height-paddingless;
      max-height: $latest-height-paddingless;
    }
  }

  .paper {
    position: relative;

    &.updating {
      opacity: $updating-opacity;
      cursor: default !important;
    }
  }
}